section.jumbotron.jumbotron_home
  .container
    .row
      .jumbotron__content.col-md-6
        h1.jumbotron__title
          span.jumbotron__title-first-word Martial
          | Arts
        h2.jumbotron__subtitle We're 1st Academy in London
        .jumbotron__text
          p We stand apart from other schools because one on one private lessons are included in every membership. 
        .jumbotron__controls
          a.jumbotron__control.jumbotron__control_first.btn.btn-secondary(href="") Register Now
          a.btn.btn-primary(href="") Read more