
@-moz-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/Raleway/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot");
  src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.woff") format("woff"), url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayLight/RalewayLight.eot");
  src: url("../fonts/Raleway/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayLight/RalewayLight.woff") format("woff"), url("../fonts/Raleway/RalewayLight/RalewayLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayBold/RalewayBold.eot");
  src: url("../fonts/Raleway/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/Raleway/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayThin/RalewayThin.eot");
  src: url("../fonts/Raleway/RalewayThin/RalewayThin.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayThin/RalewayThin.woff") format("woff"), url("../fonts/Raleway/RalewayThin/RalewayThin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

body {
  font-family: 'Raleway';
  background-color: #f6f6f6;
  font-weight: 400;
}
.btn {
  display: inline-block;
  padding: 10px 40px;
  letter-spacing: 0.3px;
  font-weight: bold;
  font-size: 14px;
}
.btn:hover {
  text-decoration: none;
}
.btn:focus {
  text-decoration: none;
  outline: none;
}
.btn-secondary {
  background-color: #212121;
  color: #fff;
  border: 2px solid #fff;
}
.btn-secondary:hover {
  background-color: #343433;
  color: #fff;
}
.btn-secondary:focus {
  background-color: #343433;
  color: #fff;
}
.btn-primary {
  background-color: #fff;
  color: #343433;
  border: 2px solid #fff;
}
.btn-primary:hover {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #343433;
}
.btn-primary:focus {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #343433;
}
.icon-phone_small {
  transform: scale(0.68);
}


.header {
  position: relative;
}
.header:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #000;
  z-index: 1;
}
.header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background: #fff;
  z-index: 1;
}
.header__bottom-container {
  background: #fff;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.header__contacts-container {
  position: relative;
  padding: 9px 0 13px;
}
.header__contacts-container:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -33px;
  z-index: 3;
  padding: 0 3px 0 33px;
  box-sizing: content-box;
  transform: skewX(-34deg);
  box-shadow: 2px 4px 21px 0px rgba(1,1,1,0.1);
  background: #fff;
}
.header__contacts-content {
  position: relative;
  z-index: 4;
}
.header__contacts-phone {
  float: left;
  display: inline-block;
  margin-left: 10px;
}
.header__contacts-phone-icon {
  position: relative;
  top: 5px;
}
.header__contacts-phone-title {
  margin-left: 9px;
  margin-right: 7px;
  letter-spacing: 0.2px;
}
.header__contacts-phone-number {
  color: #212121;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.header__contacts-phone-number:hover {
  color: #898989;
}
.header__contacts-social {
  display: inline-block;
  float: right;
  margin: 0 42px 0 0;
}
.header__contacts-social-item {
  display: inline-block;
  margin-left: 33px;
}
.header__contacts-social-icon-link {
  color: #3f3f3e;
  font-size: 19px;
}
.header__logo {
  color: #fff;
  padding: 38px 15px 50px 0;
  position: relative;
  max-width: 600px;
}
.header__logo:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: -52px;
  height: 100%;
  width: 100%;
  background: #000;
  display: block;
  z-index: 1;
  padding: 0 52px 0 100px;
  box-sizing: content-box;
  transform: skewX(-41deg);
  box-shadow: 2px 4px 27px 0px rgba(1,1,1,0.3);
}
.header__logo-content {
  position: relative;
  z-index: 2;
}
.header__logo-title {
  display: inline-block;
  position: relative;
  font-size: 30px;
  margin: 0;
  top: 12px;
  left: 3px;
  letter-spacing: 0.9px;
  font-weight: normal;
}
.header__logo-title-first-word {
  letter-spacing: -0.2px;
  font-weight: 700;
}
.header__contact-item {
  padding: 47px 0 0 20px;
}
.header__contact-item_first {
  padding-left: 50px;
}
.header__contact-item-icon {
  vertical-align: top;
}
.header__contact-item-icon.icon-phone {
  position: relative;
  top: 5px;
  left: 2px;
}
.header__contact-item-title {
  margin: 2px 0 0 18px;
  display: inline-block;
  vertical-align: top;
  color: #212121;
}
.header__contact-item-title-text {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  color: inherit;
}
.header__contact-item-title-text:hover {
  color: inherit;
}
.header__contact-item-title-hint {
  font-weight: normal;
  color: #898989;
  font-size: 14px;
  margin-top: 15px;
  letter-spacing: 0.2px;
}

.jumbotron {
  padding: 117px 0 107px;
}
.jumbotron__content {
  padding: 0 30px;
}
.jumbotron__title {
  font-weight: 100;
  color: #212121;
  font-size: 91px;
  letter-spacing: 0;
  line-height: 1;
  margin: 0 0 18px -6px;
}
.jumbotron__title-first-word {
  font-weight: 700;
  margin-right: 17px;
  letter-spacing: 1px;
}
.jumbotron__subtitle {
  color: #343433;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  margin: 0 0 20px -2px;
  letter-spacing: 1.4px;
}
.jumbotron__text {
  color: #898989;
  font-size: 14px;
  font-weight: 400;
  margin-left: 1px;
  letter-spacing: 0.4px;
  line-height: 2.2;
}
.jumbotron__controls {
  margin: 71px 0 0 0;
}
.jumbotron__control_first {
  margin-right: 12px;
}

@-moz-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.top-menu__container {
  position: relative;
}
.top-menu__bar {
  display: block;
  box-shadow: 2px 4px 21px 0px rgba(1,1,1,0.1);
  width: 100%;
  height: 75px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin-left: -200px;
  box-sizing: content-box;
  transform: skewX(-33deg);
  padding: 0 240px;
}
.top-menu__search-toggle {
  display: none;
}
.top-menu__search-toggle:checked+ .top-menu__bar {
  z-index: 3;
}
.top-menu__search-toggle:checked+ .top-menu__bar .top-menu__search-input {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}
.top-menu__search-toggle:checked+ .top-menu__bar .top-menu__search-button {
  background-color: #898989;
}
.top-menu__search-toggle:not(:checked)+ .top-menu__bar + .top-menu__list {
  animation: fadeIn 0.5s ease-in-out;
}
.top-menu__search-input[type="search"] {
  position: absolute;
  right: 23px;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  padding-right: 100px;
  outline: none;
  border: none;
  width: calc(100% - 286px);
  transform: skewX(33deg);
  font-size: 20px;
  display: none;
}
.top-menu__search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.top-menu__search-button-icon {
  transform: skewX(33deg) scaleX(-1);
}
.top-menu__list {
  position: relative;
  z-index: 2;
  list-style-type: none;
  margin: 0 15px;
  font-size: 14.5px;
  padding: 0;
}
.top-menu__item {
  color: #8d8d8d;
  padding-bottom: 4px;
  display: inline-block;
}
.top-menu__item:hover {
  color: #212121;
}
.top-menu__item_active {
  padding-bottom: 0;
  border-bottom: 4px solid #212121;
  color: #212121;
}
.top-menu__link {
  display: block;
  padding: 29px 36px 22px 34px;
  letter-spacing: 0.3px;
  min-width: 96px;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
}
.top-menu__link_first {
  padding-left: 1px;
}
.top-menu__link:hover {
  text-decoration: none;
  color: inherit;
}
.top-menu__link:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.jumbotron_home {
  padding: 196px 0 107px;
}


