@import 'variables.styl'
body
  font-family 'Raleway'
  background-color #f6f6f6
  font-weight 400

input::placeholder
  font-family 'Lato'
input::-webkit-input-placeholder
  font-family 'Lato'
input::-moz-placeholder
  font-family 'Lato' 
input:-ms-input-placeholder
  font-family 'Lato'

.icon
  &-phone_small
    transform scale(0.68)