body {
  font-family: 'Raleway';
  background-color: #f6f6f6;
  font-weight: 400;
}
.btn {
  display: inline-block;
  padding: 10px 40px;
  letter-spacing: 0.3px;
  font-weight: bold;
  font-size: 14px;
}
.btn:hover {
  text-decoration: none;
}
.btn:focus {
  text-decoration: none;
  outline: none;
}
.btn-secondary {
  background-color: #212121;
  color: #fff;
  border: 2px solid #fff;
}
.btn-secondary:hover {
  background-color: #343433;
  color: #fff;
}
.btn-secondary:focus {
  background-color: #343433;
  color: #fff;
}
.btn-primary {
  background-color: #fff;
  color: #343433;
  border: 2px solid #fff;
}
.btn-primary:hover {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #343433;
}
.btn-primary:focus {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #343433;
}
.icon-phone_small {
  transform: scale(0.68);
}
