@import '../_common/variables.styl'

.jumbotron
  padding 117px 0 107px
  &__content
    padding 0 30px
  &__title
    font-weight 100
    color #212121
    font-size 91px
    letter-spacing 0
    line-height 1
    margin 0 0 18px -6px
    &-first-word
      font-weight 700
      margin-right 17px
      letter-spacing 1px
  &__subtitle
    color #343433
    font-weight 300
    font-size 30px
    line-height 1
    margin 0 0 20px -2px
    letter-spacing 1.4px
  &__text
    color #898989
    font-size 14px
    font-weight 400
    margin-left 1px
    letter-spacing 0.4px
    line-height 2.2
  &__controls
    margin 71px 0 0 0
  &__control_first
    margin-right 12px
      